

@{
    ViewData["Title"] = "About";
}



<p><img src="~/img/Logo_CoolBooks_Large.png" /></p>

        <h1>About CoolBooks</h1>
<p>
    At vim convenire iracundia, sed regione nostrum no. Nobis ridens nostrud ne vix, 
    vivendum repudiandae intellegebat pro an, at modus assum sit? Veniam accusam ei mel. 
    Mei id purto nominavi, mei omnis exerci et. Eam eu vide porro assum.
</p>
<p>

    Quot placerat te mei. Nemore epicuri ex eum, cum munere utroque urbanitas at, 
    cu lorem nonumy soleat sit. Ius novum altera mandamus ei! Ad habeo doctus est, 
    perfecto conceptam ne qui, oblique dolorum in his! Ne equidem ornatus deseruisse has. 
    Doming prodesset nec at, ex stet appareat detraxit vis. Vim id delicata repudiandae?

</p>
<p>
    At vim convenire iracundia, sed regione nostrum no. Nobis ridens nostrud ne vix, 
    vivendum repudiandae intellegebat pro an, at modus assum sit? Veniam accusam ei mel. 
    Mei id purto nominavi, mei omnis exerci et. Eam eu vide porro assum.
</p>
<p>

    Quot placerat te mei. Nemore epicuri ex eum, cum munere utroque urbanitas at, 
    cu lorem nonumy soleat sit. Ius novum altera mandamus ei! Ad habeo doctus est, 
    perfecto conceptam ne qui, oblique dolorum in his! Ne equidem ornatus deseruisse has. 
    Doming prodesset nec at, ex stet appareat detraxit vis. Vim id delicata repudiandae?

</p>