@{
    ViewData["Title"] = "Termsofuse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Please read these conditions carefully.</h1>
<p>
    Welcome to coolbooks. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<h2>PRIVACY</h2>
<p>
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
</p>

<h2>YOUR ACCOUNT</h2>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Nulla facilisi cras fermentum odio eu feugiat pretium nibh. Amet mauris commodo quis imperdiet massa tincidunt nunc.
    A erat nam at lectus urna duis. Tortor at auctor urna nunc id cursus metus. Facilisis gravida neque convallis a.
    Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum. Proin libero nunc consequat interdum.
    Nullam ac tortor vitae purus. Nulla pharetra diam sit amet nisl suscipit. Eu non diam phasellus vestibulum lorem sed.
    Nulla facilisi etiam dignissim diam quis. Urna nunc id cursus metus aliquam eleifend mi in nulla. Ornare arcu odio ut sem nulla pharetra diam.
    Suscipit tellus mauris a diam maecenas sed enim ut sem.
</p>

<h2>LICENSE AND ACCESS</h2>
<p>
    In pellentesque massa placerat duis. Turpis cursus in hac habitasse platea dictumst quisque.
    Fames ac turpis egestas integer eget. Viverra accumsan in nisl nisi scelerisque eu. Lacus luctus accumsan tortor posuere.
    Vitae justo eget magna fermentum. Sed odio morbi quis commodo odio aenean.
    Nibh sit amet commodo nulla facilisi nullam vehicula ipsum. 
</p>

