@model CoolBooks_NinjaExperts.ViewModels.BookReviewsViewModel
@using Microsoft.AspNetCore.Identity
@using CoolBooks_NinjaExperts.Areas.Identity.Data

@inject SignInManager<UserInfo> SignInManager
@inject UserManager<UserInfo> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @foreach (var review in Model.Reviews) 
    {
    <div id="hidden" class="container">
        <div class="row">
            <div class="bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page col-md-8">
                <h5 class="mb-4">Leave a Comment</h5>

                <div>
                <form asp-controller="Comments" asp-action="Create" method="post">
                    <input type="hidden" asp-for="Comment.UserId" value="@Model.UserId"/>
                    <input type="hidden" asp-for="Comment.ReviewsId" value="@review.Id"/>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Comment.Comment" class="control-label"></label>
                        <textarea id="desc-area" asp-for="Comment.Comment" class="form-control row-cols-6" rows="5" cols="75" maxlength="500"></textarea>
                        <span id="count_message" asp-validation-for="Comment.Comment" class="text-danger"></span>
                        <div id="chars-remaining" style="text-align:right; font-weight:bold;">500 characters remaining</div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
                </div>

            </div>
        </div>
    </div>
    }
}
else
{
    <p>Hej</p>
}
