@model CoolBooks_NinjaExperts.ViewModels.BookReviewsViewModel
@using Microsoft.AspNetCore.Identity
@using CoolBooks_NinjaExperts.Areas.Identity.Data

@inject SignInManager<UserInfo> SignInManager
@inject UserManager<UserInfo> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <div class="row">
        <div class="bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page col-md-8">
            <h5 class="mb-4">Leave a Comment</h5>
            <div>
            <form asp-controller="Comments" asp-action="Create" method="post">
                <input type="hidden" name="reviewId" value="@Model.Review.Id"/>
                <input type="hidden" name="userId" value="@Model.UserId"/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Comment" class="control-label"></label>
                    <textarea id="desc-area"  asp-for="Comment.Comment" class="form-control row-cols-6" rows="5" cols="75" maxlength="500"></textarea>
                    <span id="count_message" asp-validation-for="Comment" class="text-danger"></span>
                    <div id="chars-remaining" style="text-align:right; font-weight:bold;">500 characters remaining</div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Send" class="btn btn-primary" />
                </div>
            </form>
            </div>
        </div>
    </div>

}
else
{
    <p>Endast inloggade har behörighet att kommentera</p>
}

@*Books/Details - Comment character counter*@
<script>
    const descArea = document.getElementById('desc-area');
    const charsRemaining = document.getElementById('chars-remaining');
    const MAX_CHARS = 500;
    descArea.addEventListener('input', () =>
    {
        const remaining = MAX_CHARS - descArea.value.length;
        const color = remaining < MAX_CHARS * 0.1 ? 'red' : null;
        charsRemaining.textContent = remaining + ' characters remaining';
        charsRemaining.style.color = color;
    })
</script>
