@using Microsoft.AspNetCore.Identity
@using CoolBooks_NinjaExperts.Areas.Identity.Data

@inject SignInManager<UserInfo> SignInManager
@inject UserManager<UserInfo> UserManager

@{
    if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
    {
        <div class="dropdown m-xl-5">
          <button class="dropbtn" style="border-radius:8px;">My contributions</button>
          <div class="dropdown-content">
          <a class="nav-link text-dark" asp-controller="Books" asp-action="Create">Add book <i class="bi bi-book"></i></a>
          <hr>
            <a class="nav-link text-dark" asp-controller="Contributions" asp-action="BooksAdded">Books <i class="bi bi-book"></i></a>
            <a class="nav-link text-dark" asp-controller="Contributions" asp-action="ReviewsAdded">Reviews <i class="bi bi-blockquote-left"></i></a>
            <a class="nav-link text-dark" asp-controller="Quiz" asp-action="Index">Quiz <i class="bi bi-patch-question"></i></a>
          </div>
        </div>
    }
}

