@using Microsoft.AspNetCore.Identity
@using CoolBooks_NinjaExperts.Areas.Identity.Data

@inject SignInManager<UserInfo> SignInManager
@inject UserManager<UserInfo> UserManager

@{
    if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <div class="dropdown m-xl-5">
          <button class="dropbtn">Manage</button>
          <div class="dropdown-content">
            <a class="nav-link text-dark" asp-area="Identity" asp-action="AddedAuthors" asp-controller="Admin">Added Authors <i class="bi bi-pencil-square"></i></a>
            <a class="nav-link text-dark" asp-area="Identity" asp-action="FlaggedComments" asp-controller="ManageContent">Comments <i class="bi bi-flag"></i></a>
            <a class="nav-link text-dark" asp-area="Identity" asp-action="FlaggedReviews" asp-controller="ManageContent">Reviews <i class="bi bi-flag"></i></a>
            <a class="nav-link text-dark" asp-controller="ManageContent" asp-action="ListIndex">All lists <i class="bi bi-list-stars"></i></a>
            <a class="nav-link" id="personal-data" asp-area="Identity" asp-controller="Admin" asp-action="Index" >Users <i class="bi bi-person"></i></a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Statistics" asp-action="Index">Statistics <i class="bi bi-bar-chart"></i></a>
            <hr>
           <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account <i class="bi bi-gear"></i></a>
          </div>
        </div>
    }
}

