@using Microsoft.AspNetCore.Identity
@using CoolBooks_NinjaExperts.Areas.Identity.Data

@inject SignInManager<UserInfo> SignInManager
@inject UserManager<UserInfo> UserManager

@{
    if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <div class="dropdown m-xl-5">
          <button class="dropbtn">Manage</button>
          <div class="dropdown-content">
            <a class="nav-link text-dark" asp-area="Identity" asp-action="AddedAuthors" asp-controller="Admin">Added Authors</a>
            <a class="nav-link text-dark" asp-area="Identity" asp-action="FlaggedComments" asp-controller="ManageContent">Comments <span class="bi bi-flag"></span></a>
            <a class="nav-link text-dark" asp-area="Identity" asp-action="FlaggedReviews" asp-controller="ManageContent">Reviews <span class="bi bi-flag"></span></a>
            <a class="nav-link" id="personal-data" asp-area="Identity" asp-controller="Admin" asp-action="Index" >Users </a>
            <hr>
           <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
          </div>
        </div>
    }
}

