@model CoolBooks_NinjaExperts.ViewModels.BookReviewsViewModel
@using Microsoft.AspNetCore.Identity
@using CoolBooks_NinjaExperts.Areas.Identity.Data

@inject SignInManager<UserInfo> SignInManager
@inject UserManager<UserInfo> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page col-md-8">
            <h5 class="mb-4">Leave a Reply</h5>
            <div>
            <form asp-controller="Replies" asp-action="Create" method="post">
                <input type="hidden" name="commentId" value="@Model.CommentId"/>
                <input type="hidden" name="userId" value="@Model.UserId"/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Reply" class="control-label"></label>
                    <textarea asp-for="Reply.Reply" class="form-control row-cols-6" rows="5" cols="75" maxlength="250" required></textarea>
                    <span asp-validation-for="Reply" class="text-danger"></span>
                    <div style="text-align:right; font-weight:bold;">Max 250 characters</div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Send" class="btn btn-primary" />
                </div>
            </form>
            </div>
        </div>
    </div>
}
else
{
   <p>
        <a class="text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        or
        <a class="text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        to write a comment
   </p>
}